<button class="refresh">Refresh</button>

<ul>
  <% entries.each(function(entry) { %>
    <li>
      <a href="#/entries/<%= entry.escape("id") %>">
        <%= entry.escape("title") %>
      </a>
    </li>
  <% }); %>
</ul>

